/******************************************************************
STYLESHEET: VISIBILITY

******************************************************************/

.is-hidden {
    display: none;
}

.is-invisible {
    visibility: hidden;
}

.is-visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;

    &.is-focusable:active,
    &.is-focusable:focus {
        clip: auto;
        height: auto;
        margin: 0;
        overflow: visible;
        position: static;
        width: auto;
    }
}

.prefilled-name {
   text-transform: lowercase;
}

.label--fixed {
    position: absolute;
    color: $c-medium;
    top: 0;
    left: 0;
}

.label--focused {
    color: $c-alt-light;
    top: 0;
    left: 0;
}

.icon--correct {
    display: inline-block;
    position: absolute;
    right: 15px;
    top: 13px;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: $c-alt-light;

    &:after {
        content: "";
        display: inline-block;
        width: 12px;
        height: 12px;
        position: absolute;
        right: 7px;
        top: 7px;
        background: url('../img/check.png') no-repeat;
    }
}

.danke-info {
    font-weight: bold;
    cursor: pointer;
    display: inline-block;
}

.color-highlight {
    color: $c-alt-light;
}

.sicherheits-wrapper {
    margin-bottom: 20px;

    &:before {
        content: "";
        display: inline-block;
        margin-right: 20px;
        width: 70px;
        height: 70px;
        margin-top: 15px;
        float: left;
        background: url('../img/lock.png') no-repeat;
    }

    h2,
    p {
        display: inline-block;
    }
}

.rechnung-toggle {
    z-index: 30;
    display: inline;
}

.kredit-toggle {
    @extend .rechnung-toggle;
}