/******************************************************************
STYLESHEET: BUTTON

******************************************************************/

.button {
    text-decoration: none;
    padding: 15px 15px;
    float: left;
    width: 49%;
    margin-right: 2%;
    text-align: center;
    font-weight: 700;
    cursor: pointer;

    &-change {
        color: $c-medium;
        width: 100px;
        position: absolute;
        top: 160px;
        left: 0;
    }

    &-wrapper {
        width: 100%;
        margin-top: 30px;

        &--ende {
            text-align: center;
            margin-top: 100px;
        }
    }

    &-prev {
        background-color: $c-medium;
        //border: 2px solid $c-medium;
        //background: linear-gradient($c-base, $c-dark);
        border-radius: 3px;
        color: $white;

        &:hover {
            //border: 2px solid $c-alt-light;
            //color: $c-alt-light;
            //background: linear-gradient($c-dark, $c-base);
            // background-color: $c-base;
        }
    }

    &-next {
        background-color: $c-alt-light;
        //border: 2px solid $c-alt-dark;
        // background: linear-gradient($c-alt-light, $c-alt-dark);
        border-radius: 3px;
        color: $white;

        &:hover {
            // background-color: $c-alt-dark;
            // background: linear-gradient($c-alt-dark, $c-alt-light);
        }
    }

    &-final {
        float: none;
        text-align: center;
    }
}

@include large {

    .button {

        &-wrapper {
            //width: 70%;
            //margin-left: 30%;
        }
    }
}