/******************************************************************
STYLESHEET: FIELDS

******************************************************************/

.fields {

    &-section {
        padding-top: 10px;
        padding-bottom: 25px;
        position: relative;

        &--inline {
            width: 100%;
        }
    }

    &-heading {
        @include font-size(1);

        &:after {
            content: "";
            display: block;
            margin-top: 10px;
            border-bottom: 1px dashed $c-light;
        }
    }

    &-label {
        font-weight: 700;
        margin-left: 30px;

        &:before {
            content: "";
            display: inline-block;
            width: 22px;
            height: 22px;
            margin-right: 10px;
            position: absolute;
            left: 0;
            top: 0;
            border: 2px solid $c-medium;
        }

        &-check {

            &:before {
                border-radius: 5px;
            }
        }

        &-radio {

            &:before {
                border-radius: 50%;
            }
        }
    }

    &-text {
        margin-left: 30px;
        margin-bottom: 6px;
        @include font-size(0.9);
    }

    &-radio {
        opacity: 0;
        position: absolute;
        z-index: 30;
        width: 22px;
        height: 22px;

        &:checked + label:after {
            content: "";
            display: inline-block;
            position: absolute;
            left: 6px;
            top: 6px;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: $c-alt-light;
        }

        &:checked + label:before {
            border: 2px solid $c-alt-light;
        }
    }

    &-check {
        @extend .fields-radio;

        &:checked + label:after {
            content: "";
            display: inline-block;
            position: absolute;
            left: 5px;
            top: 5px;
            width: 100%;
            height: 100%;
            background: url('../img/check.png') no-repeat;
            border-radius: 0;
        }

        &:checked + label:before {
            border: 2px solid $c-alt-light;
            background-color: $c-alt-light;
        }
    }

    &-img {
        margin-left: 30px;
        margin-top: 10px;
        display: inline-block;

        + .fields-img {
            margin-left: 6px;
        }

        &-large {
            margin-bottom: 6px;
            margin-right: 15px;
            height: 51px;
            width: auto;
        }

        &-description {
            color: $c-alt-light;
            font-weight: 700;
            @include font-size(0.8);
            width: 250px;
            float: right;
            margin-top: 12px;
        }
    }

    &-item {
        margin-bottom: 6px;
        position: relative;
        background-color: transparent;

        &-frame {
            position: relative;
            border: 1px solid $c-medium;
            padding: 15px 15px;
            background: $white;
            z-index: 10;
            width: 100%;
            margin-top: 20px;
            // @include font-size(0.9);

            &:focus {
                border: 1px solid $c-alt-light;
                background-color: rgba($c-alt-light, 0.05);
                outline: 0;
            }

            &--select {
                padding-left: 10px;
            }
        }

        &-placeholder {
            position: absolute;
            left: 0;
            top: 0;
            z-index: 5;

            &--info {
                color: $c-medium;
                top: 20px;
            }
        }

        &-optional {
            color: $c-medium;
        }

        &-inline {
            float: left;
            margin-right: 16px;
            margin-bottom: 16px;
        }

        &-radio,
        &-check {
            position: relative;
        }

        &--prefilled {
            color: $c-base;
        }
    }

    &-error,
    &-error2
     {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        @include font-size(0.8);
        font-weight: 700;
        color: $c-error;

        &-frame {
            border: 1px solid $c-error;
            background-color: rgba($c-error, 0.05);
        }
    }

    &-pb {
        padding-bottom: 80px;
    }
}

@include small {

    .fields {

        &-section {

            &--inline {
                width: 50%;
                min-height: 260px;
            }
        }

        &-heading {
            @include font-size(1.1);
        }

        &-item {

            &-wrapper {
                width: 100%;
            }

            &--half {
                width: 50%;
            }

            &--long {
                width: 67%;
            }

            &--short {
                width: 33%;
            }

            &--left {
                border-right: 3px solid $white;

                &--dark {
                    border-right: 3px solid $c-light;
                }
            }

            &--right {
                border-left: 3px solid $white;

                &--dark {
                    border-left: 3px solid $c-light;
                }
            }
        }

        &-img {

            &-large {
                padding-left: 18px;
                margin-bottom: 0;
            }
        }
    }
}

@include medium {

    .fields {

        &-section {

            &--inline {
                width: 23%;
                min-height: 0;
                margin-right: 2%;
            }
        }

        &-radio {

            &:checked + label:before {
                line-height: 20px;
            }
        }
    }
}

@include large {

    .fields{

        &-heading {
            @include font-size(1.2);
        }
    }
}